In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
df = pd.read_csv("user_likes.csv")
df = df.drop("Unnamed: 0", axis=1)
df.head()

,Venue,Venue Category,Venue ID,Venue Latitude,Venue Longitude,gender,id
0,Townhouse Restaurant,40.876086,4be2b79d660ec9284d04ca3b,-73.828868,Restaurant,male,69661369
1,Townhouse Restaurant,40.876086,4be2b79d660ec9284d04ca3b,-73.828868,Restaurant,male,13000277
2,Townhouse Restaurant,40.876086,4be2b79d660ec9284d04ca3b,-73.828868,Restaurant,male,100835956
3,McDonald's,40.885636,4c406f2e6c1a9521a042b96a,-73.826840,Burger Joint,female,89243384
4,Smashburger,40.884221,55568a71498e3524400a356e,-73.900333,Burger Joint,male,102549100

In [3]:
venue_id = df[['Venue ID', "id"]]
venue_coord = df[['Venue Latitude', "Venue Longitude", "id"]]

In [5]:
X = venue_id['id']
y = venue_id['Venue ID']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
model = Sequential()

number_inputs=1
number_hidden_nodes=4
model.add(Dense(units=number_hidden_nodes, activation='relu', input_dim=number_inputs))

WARNING:tensorflow:From C:\Users\kevin\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [7]:
model.add(Dense(units=number_hidden_nodes, activation='relu'))

In [10]:
model.add(Dense(units=2, activation="softmax"))