In [7]:
import requests, json
import pandas as pd
from config import client_id, client_secret

In [8]:
burgers_df = pd.read_csv("burger_joints.csv")
burgers_df = burgers_df.drop("Unnamed: 0", axis=1)
burgers_df.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue ID,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Co-op City,40.874294,-73.829939,4be2b79d660ec9284d04ca3b,Townhouse Restaurant,40.876086,-73.828868,Restaurant
1,Eastchester,40.887556,-73.827806,4c406f2e6c1a9521a042b96a,McDonald's,40.885636,-73.826840,Burger Joint
2,Kingsbridge,40.881687,-73.902818,55568a71498e3524400a356e,Smashburger,40.884221,-73.900333,Burger Joint
3,Kingsbridge,40.881687,-73.902818,4b3789f3f964a520f34125e3,Riverdale Diner,40.885183,-73.899484,Diner
4,Kingsbridge,40.881687,-73.902818,4b9c9c6af964a520b27236e3,Land & Sea Restaurant,40.877885,-73.905873,Seafood Restaurant

In [9]:
CLIENT_ID = client_id
CLIENT_SECRET = client_secret
VERSION = "20180605"

In [12]:
venue_ratings = []

for row in burgers_df.iterrows():
    url =  f'https://api.foursquare.com/v2/venues/{row[1][3]}/'
    
    params = dict(
        client_id=CLIENT_ID,
        client_secret=CLIENT_SECRET,
        v=VERSION,
        limit=100
    )

    response = requests.get(url=url, params=params).json()['response']
        
    if 'rating' in response['venue'].keys():
        venue = {}
        venue['Rating'] = response['venue']['rating']
        venue['Venue ID'] = row[1][3]
        venue_ratings.append(venue)

KeyError: 'venue'

In [31]:
ratings_df = pd.DataFrame(venue_ratings)

In [32]:
ratings_df.head()

   rating                  venue      venue category  venue lat  venue lon
0     5.8   Townhouse Restaurant          Restaurant  40.876086 -73.828868
1     6.0             McDonald's        Burger Joint  40.885636 -73.826840
2     8.4            Smashburger        Burger Joint  40.884221 -73.900333
3     7.8        Riverdale Diner               Diner  40.885183 -73.899484
4     7.7  Land & Sea Restaurant  Seafood Restaurant  40.877885 -73.905873

In [33]:
ratings_df.to_csv("ratings.csv")